/*
 * ==================================================================
 *   Layout desenvolvido por Luiz Felipe (Felipe Strong)
 *   Site: www.tacticweb.com.br
 *   03-01-2017
 * ==================================================================
 *
 * ==================================================================
 * Bases do site
 * ==================================================================
 */

html, body {
	font-family: 'Abel', sans-serif;
	line-height: 22px;
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-color: #ffffff;
	letter-spacing: 0.3px;
}

a, img {
	text-decoration: none;
	border: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

@font-face {

	font-family: 'pacifico';
	src: url('../fontes/pacifico.ttf') format('truetype');
}

.f_pacifico {
	font-family: 'pacifico';
}

@font-face {

	font-family: 'social';
	src: url('../fontes/social_font.ttf') format('truetype');
}

.f_social {
	font-family: 'social';
}

.f_title {
	font-family: 'Russo One', sans-serif;
}

.f_lora {
	font-family: 'Lora', serif;
}

.f_jockey {
	font-family: 'Jockey One', sans-serif;
}

/*tela_inicial*/
#main {
	padding-left: 0px;
}

.tela {
	position: fixed;
	z-index: 0;
	width: 100%;
	overflow: hidden;
	display: block;
}

.tela_mob {
	position: fixed;
	z-index: 0;
	width: 100%;
	overflow: hidden;
	display: none;
}

.img_cem {
	width: 100%;
}

.box_container {
	position: absolute;
	z-index: 2;
	top: 400px;
	left: 170px;
	width: 30%;
	padding: 2%;
	border-radius: 15px;
	overflow: hidden;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.4);
}

.title_index {
	font-size: 34px;
	line-height: normal;
	margin-bottom: 10px;
}

.text_resume {
	margin-bottom: 10px;
	overflow: hidden;
}

.box_index {
	float: left;
	width: 170px;
	margin-right: 15px;
	padding: 10px 7px;
	border: solid 1px #fff;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 15px;
}

.bt_index {
	float: left;
	width: 150px;
	font-size: 18px;
	color: #fff;
	margin-right: 15px;
	padding: 10px 7px;
	border: solid 1px #ff8e00;
	background: #ff8e00;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
	cursor: pointer;
}

/*bar_contato*/
.bar_choose {
	background: url('../img/arte_bar.png') no-repeat left top, #000;
	position: fixed;
	overflow: hidden;
	padding: 0px 5%;
	width: 100%;
	top: 0;
	z-index: 9998;
}

.escolha {
	color: #fff;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

.box_escolha {
	float: left;
	overflow: hidden;
}

.box_choose {
	border: 1px #fff solid;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 130px;
	margin-left: 10px;
	float: left;
	margin-top: 10px;
}

/** HEADER > FORM **/
.navbar-main {
	line-height: 35px;
	height: 40px;
	background: url('../img/arte_bar.png') no-repeat left top, #000 !important;
}

nav .input-field.btn-location {
	width: 400px;
	max-height: 400px
}

/*---------------------------------
 Horizontal Menu
 -----------------------------------*/
#main, .main-full, footer {
	padding-left: 0 !important;
}

header nav.navbar-color {
	-webkit-box-shadow: none;
	box-shadow: none;
}

header .brand-logo {
	font-size: 2.1 rem;
	line-height: 0;
	position: absolute;
	top: 0;
	display: inline-block;
	margin: 1px 0;
	padding: 22px 12px;
	color: #fff;
}

header .brand-logo img {
	height: 18px;
}

header .brand-logo .logo-text {
	font-size: 24px;
	visibility: visible;
	padding-left: 8px;
	-webkit-transition: opacity .2s linear;
	-moz-transition: opacity .2s linear;
	-o-transition: opacity .2s linear;
	transition: opacity .2s linear;
	opacity: 1;
}

@media only screen and (max-width: 992px) {
	header nav.navbar-color ul.left {
		position: relative;
		top: -6px;
		left: 55px;
	}

	nav .input-field.btn-location {
		margin-left: 30px;
	}

}

.horizontal-layout .sidenav-main .sidenav-trigger {
	position: absolute;
	top: 7px;
	left: 10px;
}

.sidenav-main .sidenav li a {
	color: #fff;
}

#header {
	height: 30px;
	z-index: 999;
}

#header .header-search-wrapper {
	margin: 10px auto 0 260px;
}

#ul-horizontal-nav > li > a {
	padding: 0 18px;
}

.navbar-fixed {
	height: 40px;
}

.navbar-fixed #horizontal-nav {
	margin-top: 40px;
}

@media only screen and (min-width: 993px) {
	#main {
	}
}

@media only screen and (min-width: 601px) {
	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
		line-height: 45px;
		height: 45px;
	}
}

.doughnut-chart-status {
	top: -85px;
}

#horizontal-nav {
	-webkit-box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .04), 0 1px 5px 0 rgba(0, 0, 0, .02), 0 3px 1px -2px rgba(0, 0, 0, .02);
	box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .04), 0 1px 5px 0 rgba(0, 0, 0, .02), 0 3px 1px -2px rgba(0, 0, 0, .02);
}

#horizontal-nav ul li {
	text-align: center;
}

#horizontal-nav ul li a i {
	font-size: 1.4 rem;
	line-height: 45px;
	display: block;
	height: 0;
	color: #787878;
}

#horizontal-nav ul li a span {
	position: relative;
	top: 14px;
	color: rgba(0, 0, 0, .87);
}

#horizontal-nav .dropdown-menu span i {
	font-size: 14px;
	position: absolute;
	top: -12px;
	right: -14px;
}

.dropdown-content li {
	min-height: 43px;
}

.dropdown-content li a {
	color: rgba(0, 0, 0, .87);
}

.dropdown-horizontal-list li a {
	font-size: 1rem;
	font-weight: 400;
	min-width: 150px;
	padding: 10px;
	text-align: left;
}

/*IE Specific CSS */
@media screen and (min-width: 0\0) and (-webkit-min-device-pixel-ratio: .75), screen and (min-width: 0\0) and (-o-min-device-pixel-ratio: 3/4), screen and (min-width: 0\0) and (min-resolution: 72dpi)
{
    #horizontal-nav ul li
    {
        min-width: 110px;
    }
    #horizontal-nav .dropdown-menu span i
    {
        line-height: 0;

        position: absolute;
        top: 10px;
        right: -20px;
    }
}

header {
	width: 100%;
	height: 50px;
}

header .input-field .btn {
	height: 40px;
	border-radius: 0px;
	margin: 0px;
	text-transform: none;
	font-size: 0.85 rem;
	line-height: 30px;
	padding: 0 1rem;
	font-family: 'Abel', sans-serif;
}

header .input-field .btn:hover {
	background: #3949a3;
}

header .input-field .btn i {
	background-color: orange;
	border-radius: 100%;
	height: 28px;
	width: 28px;
	margin: 0px 5px 0px 0px;
	border: 3px solid #fff;
	line-height: 22px;
	font-size: 1rem;
	text-align: center;
}

.btn.btn-flat:hover {
	background: none;
}

/*menu*/
.menu-container {
	position: fixed;
	display: block;
	z-index: 9999;
	background: #FF7E00;
	padding: 0 5%;
	width: 100%;
	text-transform: uppercase;
	top: 45px;
}

.bt_mobile {
	display: none;
}

.menu {
	overflow: hidden;
}

.menu_mob {
	display: none;
}

.menu li a {
	float: left;
	padding: 10px 20px;
	color: #fff;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}

.menu li a:hover {
	background: #0093FF;
}

/*LOGO*/
.area_logo {
	background: url('../img/bg_pjm.jpg') no-repeat left bottom;
	/*height: 128px;*/
	overflow: hidden;
	padding-top: 50px;
	border-bottom: #FF7E00 solid 5px;
}

.logo_m {
	display: none;
}

.fone {
	width: 260px;
	height: 90px;
	margin-left: 500px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.txt_central_att {
	font-size: 18px;
	display: block;
}

.n_phones {
	font-size: 24px;
	display: block;
	line-height: 1.5;
}

.ico_whats {
	width: 35px;
	margin-right: 10px;
	float: left;
}

.robozinho {
	background: url('../img/robozinho2.png') center top no-repeat;
	width: 338px;
	height: 200px;
	/*height: 202px;*/
	/*position: absolute;*/
	position: fixed;
	top: 10px;
	right: 20px;
	z-index: 999;
}

/*slider*/

.img_slider {
	cursor: default;
	position: relative;
	top: 0px;
	left: 0px;
	width: 1300px;
	height: 500px;
	overflow: hidden;
}

.banner_slide {
	width: 100%;
}

.slider {
	height: 550px !important;
	position: relative;
	width: 100%;
	margin-top: 185px;
}

.slider .slides {
	height: inherit !important;
}

/*FIM SLIDER*/

.container {
	/*width: 980px;*/
	width: 70%;
	overflow: hidden;
	margin: auto;
	margin-bottom: 30px;
	padding: 0px;
}

.col_left {
	width: 650px;
	float: left;
	overflow: hidden;
}

.col_right {
	width: 285px;
	overflow: hidden;
	float: right;
}

.title {
	display: block;
	font-size: 44px;
	padding: 20px 0;
	margin-bottom: 20px;
}

.area_planos {
	overflow: hidden;
	display: block;
	margin-bottom: 30px;
}

.tag_plan {
	background: url('../img/tag.png') no-repeat left top;
	height: 60px;
	padding: 15px 0 0 30px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	clear: left;
}

.card.planos {
	border: 1px solid #FF7E00;
	border-radius: 3px;
}

.card.planos .card-title.activator, .card.planos .card-reveal .card-title  {
	cursor: auto;
}

.card.planos .card-content {
	height: 295px;
	max-height: 295px;
	position: relative;
	overflow: hidden;
}

.box_plan {
	overflow: hidden;
	border: 1px solid;
	border-color: #FF7E00;
	border-radius: 4px;
	text-align: center;
	line-height: normal;
}

.box_obs {
	line-height: 3;
}

.box_valor {
	text-align: center;
	line-height: normal;
}

.box_valor h3 {
	font-family: 'Russo One', 'Roboto', sans-serif;
	font-weight: 600;
	color: #000;
	margin: 0px;
}

.box_valor small {
	font-size: 2rem;
	margin-right: 10px;
}

.box_plan.blue {
	border-color: #2196f3;
}

.box_plan li {
	text-align: left;
	padding-left: 15px;
}

.planos .muted {
	color: #828282 !important;
}

.planos .activator {
	margin-top: 10px;
}

.planos .card-footer {
	margin-top: 10px;
	text-align: right;
}

.planos.card .card-reveal {
	padding: 15px 6px;
	overflow-x: hidden;
}

.planos .card-reveal .card-title {
	position: relative;
	overflow: hidden;
}

.planos .card-reveal .card-title span {
	display: block;
}

.planos .card-reveal .card-title span.muted{
	font-weight: 300;
	font-size: 12px;
	color: inherit;
	text-transform: uppercase;
}

.planos .card-reveal .card-title > i {
	position: absolute;
	right: 24px;
	height: 24px;
	top: 50%;
	margin-top: -21px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.planos .card-reveal .card-body {
	font-size: 14px;
}

.planos .card-reveal .card-body h3 {
    font-size: 14px;
    font-weight: bold;
	color: inherit;
    text-transform: uppercase;
    margin: 4px 0px;
}

.planos .card-reveal .card-body span {
	font-size: 14px;
	color: inherit;
	text-transform: none;	
}

.planos .card-footer a {
	color: #f57e04;
	font-weight: 600;
}

.tipo_plano {
	font-size: 28px;
	background: #FF7E00;
	color: #fff;
	margin: 0 auto;
	border-radius: inherit;
	padding: 10px;
	max-height: 85px;
	overflow: hidden;
}

.tipo_plano2 {
	font-size: 52px;
	/*width: 90%;*/
	background: #0091f7;
	color: #fff;
	margin: 0 auto;
	border-radius: 10px;
}

.valor_plano {
	font-family: 'Roboto', sans-serif;
    font-weight: 900;
	font-weight: bold;
	font-size: 18px;
	color: #484646;
	text-align: center;
    text-transform: uppercase;
	line-height: 128.3%;
	padding-bottom: 15px;
}


.img_plan {
	width: 100%;
}

.tag_dir {
	background: url('../img/bg_tag.jpg');
	padding: 20px 20px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

.box_comunicados {
	background: #EFEFEF;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.comunicado {
	background: #fff;
	overflow: hidden;
	border-bottom: solid 1px #FF7E00;
	padding: 5px;
}

.data_comunicado {
	color: #fff;
	background: #FF7E00;
	float: left;
	text-align: center;
	font-weight: bold;
	padding: 10px 5px;
}

.dia {
	font-size: 28px;
}

.mesano {
	font-size: 12px;
}

.title_comunicado {
	padding: 0 10px;
	float: left;
	width: 170px;
	color: #C4C4C4;
	font-size: 14px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}

.title_comunicado:hover {
	color: #000;
}

.duvida_title {
	background: #fff;
	overflow: hidden;
	border-bottom: solid 1px #FF7E00;
	padding: 10px;
	color: #C4C4C4;
	font-size: 16px;
	text-align: justify;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}

.duvida_title:hover {
	color: #000;
}

/*FOOTER*/
footer {
	background: url('../img/bg_footer.jpg') left top;
	overflow: hidden;
	color: #fff;
	padding: 40px 0;
}

.colfooter1 {
	float: left;
	width: 30%;
	overflow: hidden;
}

.logo_f {
	margin-bottom: 25px;
	overflow: hidden;
}

.logo_f_img {
	width: 60%;
}

.colfooter2 a {
	float: left;
	width: 30%;
	margin: 0 6%;
	overflow: hidden;
	color: #fff;
}

.collfooter3 {
	position: absolute;
	width: 500px;
	right: 100px;
	overflow: hidden;
	margin-top: 0;
	z-index: 999;
}

.robo_footer {
	width: 100%;
}

.copyright {
	padding: 15px 0 1px 0;
	color: #fff;
	font-size: 12px;
}

.copyright .copy {
	float: left;
}

.tw {
	width: 101px;
	height: 28px;
	float: right;
	background: url('../img/tw.png') no-repeat left top;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
}

.tw:hover {
	background: url('../img/tw.png') no-repeat right top;
}

.title_pg {
	padding: 90px 0 20px 0;
	font-size: 42px;
	border-bottom: solid 1px #0091f7;
	margin-bottom: 30px;
	line-height: normal;
}

.title_c {
	padding: 0px 0 20px 0;
	font-size: 32px;
	border-bottom: solid 1px #0091f7;
	margin-bottom: 30px;
	line-height: normal;
}

.data_c {
	color: #ff7e00;
	padding: 90px 0 10px 0;
}

.txt_page {
	text-align: justify;
	overflow: hidden;
	margin-bottom: 70px;
}

@media only screen and (max-width: 669px) {

	#horizontal-nav {
		display: none;
	}

	.slider {
		margin-top: 0px !important;
	}

}

@media only screen and (min-width: 670px) and (max-width: 992px) {

	.slider {
		margin-top: 35px;
	}

}

@media only screen and (max-width: 970px) {

	html, body {
		font-family: 'Abel', sans-serif;
		line-height: 22px;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}

	html {
		height: 100%;
	}

	a, img {
		text-decoration: none;
		border: none;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	@font-face {

		font-family: 'pacifico';
		src: url('../fontes/pacifico.ttf') format('truetype');
	}

	.f_pacifico {
		font-family: 'pacifico';
	}

	@font-face {

		font-family: 'social';
		src: url('../fontes/social_font.ttf') format('truetype');
	}

	.f_social {
		font-family: 'social';
	}

	.f_title {
		font-family: 'Russo One', sans-serif;
	}

	.f_lora {
		font-family: 'Lora', serif;
	}

	.f_jockey {
		font-family: 'Jockey One', sans-serif;
	}

	/*tela_inicial*/
	.tela {
		position: fixed;
		z-index: 0;
		width: 100%;
		overflow: hidden;
		display: none;
	}

	.tela_mob {
		position: fixed;
		z-index: 0;
		width: 100%;
		overflow: hidden;
		display: block;
	}

	.img_cem {
		width: 100%;
	}

	.box_container {
		position: absolute;
		z-index: 2;
		top: 125px;
		left: 50%;
		width: inherit;
		padding: 5%;
		margin-left: -50%;
		border-radius: 15px;
		overflow: hidden;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.4);
		background: rgba(0, 0, 0, 0.4);
		text-align: center;
	}

	.title_index {
		font-size: 28px;
		line-height: normal;
		margin-bottom: 10px;
	}

	.text_resume {
		margin-bottom: 10px;
		overflow: hidden;
	}

	.box_index {
		float: none;
		width: 170px;
		margin-right: 0;
		margin: 0 auto;
		padding: 10px 7px;
		border: solid 1px #fff;
		background: #fff;
		border-radius: 5px;
		margin-bottom: 15px;
	}

	.bt_index {
		float: none;
		width: 150px;
		font-size: 18px;
		color: #fff;
		margin-right: 0;
		margin: 0 auto;
		padding: 10px 7px;
		border: solid 1px #ff8e00;
		background: #ff8e00;
		border-radius: 5px;
		margin-bottom: 15px;
		cursor: pointer;
	}

	/*bar_contato*/
	.bar_choose {
		background: url('../img/arte_bar.png') repeat left top, #000;
		position: fixed;
		overflow: hidden;
		padding: 0px 5%;
		width: 100%;
		top: 0;
		z-index: 999;
	}

	.escolha {
		color: #fff;
		float: left;
		margin-top: 10px;
	}

	.box_escolha {
		float: none;
		overflow: hidden;
	}

	.box_choose {
		border: 1px #fff solid;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		width: 60%;
		margin-left: 10px;
		float: left;
		margin-top: 10px;
	}

	.bt_ok {
		border-radius: 50%;
		width: 35px;
		height: 35px;
		overflow: hidden;
		border: #fff solid 3px;
		background: #ff7e00;
		color: #fff;
		text-align: center;
		cursor: pointer;
		float: left;
		margin-left: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	/*menu*/
	.menu-container {
		position: fixed;
		display: block;
		z-index: 999;
		background: #FF7E00;
		padding: 0 0;
		width: 100%;
		min-height: 40px;
		text-transform: uppercase;
		top: 70px;
	}

	.bt_mobile {
		display: block;
		background: url('../img/bt_mobile.png');
		width: 26px;
		height: 22px;
		z-index: 999;
		top: 10px;
		right: 10px;
		position: absolute;
	}

	.menu {
		overflow: hidden;
		display: none;
	}

	.menu_mob {
		display: none;
	}

	.menu_mob li a {
		text-align: center;
		display: block;
		padding: 15px;
		border-bottom: solid 1px #fff;
		color: #fff;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
	}

	.menu_mob li a:active {
		background: #0093FF;
	}

	.menu li a {
		float: left;
		padding: 10px 20px;
		color: #fff;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
	}

	.menu li a:hover {
		background: #0093FF;
	}

	/*LOGO*/
	.logo_m {
		width: 65%;
		margin: auto;
		margin-bottom: 10px;
		display: block;
	}

	.logo_m_img {
		width: 100%;
	}

	.fone {
		background: url('../img/central.png') no-repeat;
		width: 244px;
		height: 90px;
		margin-left: 450px;
		margin-top: 20px;
		display: none;
	}

	.robozinho {
		background: url('../img/robozinho2.png');
		width: 338px;
		height: 202px;
		position: absolute;
		top: 10px;
		right: 20px;
		z-index: 999;
		display: none;
	}

	.slider_geral {
		position: relative;
		margin: 0 auto;
		top: 0px;
		left: 0px;
		width: 1300px;
		height: 350px;
		overflow: hidden;
		visibility: hidden;
		margin-bottom: 20px;
		border-bottom: #FF7E00 solid 5px;
	}

	.img_slider {
		cursor: default;
		position: relative;
		top: 0px;
		left: 0px;
		width: 1300px;
		height: 500px;
		overflow: hidden;
	}

	.banner_slide {
		width: 100%;
	}

	/*FIM SLIDER*/

	.container {
		width: 90%;
		overflow: hidden;
		margin: auto;
		margin-bottom: 30px;
	}

	.col_left {
		width: 100%;
		float: none;
		overflow: hidden;
	}

	.col_right {
		width: 100%;
		overflow: hidden;
		float: none;
	}

	.title {
		display: block;
		font-size: 34px;
		padding: 20px 0;
		margin-bottom: 20px;
		text-align: center;
		font-weight: bold;
		line-height: 38px;
	}

	.area_planos {
		overflow: hidden;
		display: block;
		margin-bottom: 30px;
	}

	.tag_plan {
		background: url('../img/tag.png') no-repeat left top;
		height: 60px;
		color: #fff;
		font-weight: bold;
		font-size: 24px;
		clear: left;
	}

	.img_plan {
		width: 100%;
	}

	.tag_dir {
		background: url('../img/bg_tag.jpg');
		padding: 20px 20px;
		color: #fff;
		font-weight: bold;
		font-size: 24px;
	}

	.box_comunicados {
		background: #EFEFEF;
		padding: 10px;
		overflow: hidden;
		margin-bottom: 20px;
	}

	.comunicado {
		background: #fff;
		overflow: hidden;
		border-bottom: solid 1px #FF7E00;
		padding: 5px;
	}

	.data_comunicado {
		color: #fff;
		background: #FF7E00;
		float: left;
		text-align: center;
		font-weight: bold;
		padding: 10px 5px;
	}

	.dia {
		font-size: 28px;
	}

	.mesano {
		font-size: 12px;
	}

	.title_comunicado {
		padding: 0 10px;
		float: left;
		width: 170px;
		color: #C4C4C4;
		font-size: 14px;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
	}

	.title_comunicado:hover {
		color: #000;
	}

	.duvida_title {
		background: #fff;
		overflow: hidden;
		border-bottom: solid 1px #FF7E00;
		padding: 10px;
		color: #C4C4C4;
		font-size: 16px;
		text-align: justify;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
	}

	.duvida_title:hover {
		color: #000;
	}

	/*FOOTER*/
	footer {
		background: url('../img/bg_footer.jpg') left top;
		overflow: hidden;
		color: #fff;
		padding: 40px 0;
	}

	.colfooter1 {
		float: none;
		width: 90%;
		overflow: hidden;
		margin: auto;
		text-align: center;
		margin-bottom: 30px;
	}

	.logo_f {
		margin-bottom: 25px;
		overflow: hidden;
		text-align: center;
	}

	.logo_f_img {
		width: 60%;
	}

	.colfooter2 a {
		float: none;
		width: 90%;
		margin: auto;
		overflow: hidden;
		color: #fff;
		text-align: center;
		display: block;
		margin-bottom: 40px;
	}

	.collfooter3 {
		position: static;
		width: 90%;
		margin-top: 0;
		margin: auto;
	}

	.robo_footer {
		width: 100%;
	}

	.copyright {
		background: #000;
		padding: 15px 0 1px 0;
		color: #fff;
		font-size: 12px;
	}

	.copyright .copy {
		float: none;
		text-align: center;
		margin-bottom: 20px;
	}

	.tw {
		width: 101px;
		height: 28px;
		float: none;
		background: url('../img/tw.png') no-repeat left top;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		-ms-transition: all .5s ease;
		margin: auto;
	}

	.tw:hover {
		background: url('../img/tw.png') no-repeat right top;
	}

}

.modal-backdrop {
	z-index: 9999;
}

.modal.modal-fixed-footer.modal-fixed-header .modal-content {
	position: absolute;
	overflow-y: auto;
	width: 100%;
	height: -webkit-calc(100% - 98px);
	height: -moz-calc(100% - 98px);
	height: calc(100% - 98px);
	max-height: 100%;
	margin-top: 43px;
}

.modal.modal-fixed-header .modal-header {
	line-height: 32px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding: 4px 6px;
	position: fixed;
	width: 100%;
}
