/*
 =====================================================================
 *   Layout desenvolvido por Luiz Felipe (Felipe Strong)
 *   Site: www.tacticweb.com.br
 =====================================================================
 */

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html, body {
	margin: 0;
	color: #000;
	font-family: 'Abel', sans-serif;
	height: 100%;
}

::selection {
	background: #00d8ff;
	color: #000;
}

::-moz-selection {
	background: #00d8ff;
	color: #000;
}

html {
	height: 100%;
}

a, img {
	text-decoration: none;
	border: none;
	color: #000;
}

body {
	background: url('../../img/bg.jpg');
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

@font-face {

	font-family: "social";
	src: url("../../fontes/social_font.ttf") format("truetype");
}

.f_social {
	font-family: "social";
}

@font-face {

	font-family: "futura";
	src: url("../../fontes/futura.ttf") format("truetype");
}

.f_futura {
	font-family: "futura";
}

@font-face {

	font-family: "avante";
	src: url("../../fontes/avante.ttf") format("truetype");
}

.f_avante {
	font-family: "avante";
}

@font-face {

	font-family: "bebas";
	src: url("../../fontes/bebas.ttf") format("truetype");
}

.f_bebas {
	font-family: "bebas";
}

@font-face {

	font-family: "ftemaki";
	src: url("../../fontes/ftemaki.ttf") format("truetype");
}

.ftemaki {
	font-family: "ftemaki";
}

@font-face {

	font-family: "everafter";
	src: url("../../fontes/everafter.ttf") format("truetype");
}

.f_everafter {
	font-family: "everafter";
}

.img_cem {
	width: 100%;
}

.logo {
	width: 130px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 20px;
}

.logo_tw {
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
}

.name_area {
	margin: auto;
	color: #9a9a9a;
	width: 350px;
	overflow: hidden;
	margin-bottom: 30px;
	text-align: center;
	font-size: 30px;
}

.box_login {
	background: url('../../img/robo.png');
	width: 555px;
	height: 548px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.area_form {
	width: 350px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 310px;
}

.form_login {
	width: 100%;
	padding: 15px 25px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: solid 2px #ff6600;
	background: #000;
	margin-bottom: 15px;
	color: #adadad;
}

.bt_form {
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid 1px #ff6600;
	background: #ff6600;
	color: #000;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
}

.obs {
	font-size: 12px;
	overflow: hidden;
}

.topo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: solid 1px #f3bf18;
	overflow: hidden;
	background: #000;
	padding: 0 10%;
}

.logo_topo {
	float: left;
	width: 200px;
}

.menu {
	width: 900px;
	float: left;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 40px;
}

.lk {
	float: left;
	padding: 15px 25px;
	color: #fff;
	font-size: 18px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

.lk:hover {
	background: #f3bf18;
	color: #000;
}

.title_pg {
	color: #fff;
	font-size: 32px;
	width: 80%;
	margin: 0 auto;
	border-bottom: solid 1px #f3bf18;
	padding-bottom: 10px;
	padding-top: 150px;
	text-align: center;
	margin-bottom: 40px;
}

.box_content {
	width: 730px;
	margin: 0 auto;
	overflow: hidden;
}

.text_boas_vindas {
	width: 500px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
	margin-bottom: 40px;
}

.box_info {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #000;
	border: solid 2px #f3bf18;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	margin: 0 30px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

.box_info:hover {
	background: #f3bf18;
	color: #000;
}

.info {
	width: 60%;
	margin: 0 auto;
	font-size: 24px;
	margin-top: 50px;
	margin-bottom: 20px;
}

.n_cadast {
	font-size: 74px;
}

.container2 {
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 30px;
}

.box_container {
	overflow: hidden;
}

.bts {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: solid 1px #f3bf18;
}

.bt {
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	background: #181818;
	margin-left: 2px;
	float: left;
	color: #fff;
	cursor: pointer;
	padding: 15px 25px;
	font-size: 18px;
}

.bt:hover {
	background: #f3bf18;
	color: #000;
}

.conj_list_categ {
	overflow: hidden;
}

.name_categ {
	padding: 15px;
	overflow: hidden;
	float: left;
	width: 65%;
	margin-bottom: 5px;
	background: #181818;
	color: #ccc;
}

.name_cardapio {
	padding: 15px;
	overflow: hidden;
	float: left;
	width: 61%;
	margin-bottom: 5px;
	background: #181818;
	color: #ccc;
}

.nitens {
	padding: 15px;
	overflow: hidden;
	float: left;
	width: 20%;
	text-align: center;
	margin-bottom: 5px;
	background: #181818;
	color: #ccc;
	margin-left: 2px;
}

.destaque {
	width: 44px;
	height: 51px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	background: url('../../img/bt_destaque.png') no-repeat left center, #181818;
	margin-left: 2px;
	float: left;
	cursor: pointer;
}

.destaque:hover {
	background: url('../../img/bt_destaque.png') no-repeat right center, #f3bf18;
}

.editar {
	width: 44px;
	height: 51px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	background: url('../../img/bt_edit.png') no-repeat left center, #181818;
	margin-left: 2px;
	float: left;
	cursor: pointer;
}

.editar:hover {
	background: url('../../img/bt_edit.png') no-repeat right center, #f3bf18;
}

.excluir {
	width: 44px;
	height: 51px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	background: url('../../img/bt_excluir.png') no-repeat left center, #181818;
	margin-left: 2px;
	float: left;
	cursor: pointer;
}

.excluir:hover {
	background: url('../../img/bt_excluir.png') no-repeat right center, #f3bf18;
}

.text_explicativo {
	color: #ccc;
	overflow: hidden;
	margin-bottom: 30px;
}

.form_categ {
	padding: 15px;
	overflow: hidden;
	float: left;
	width: 50%;
	margin-bottom: 5px;
	background: #181818;
	color: #fff;
	margin-left: 2px;
	border: #181818;
}

.bt_form1 {
	padding: 15px;
	overflow: hidden;
	float: left;
	width: 10%;
	text-align: center;
	margin-bottom: 5px;
	background: #848484;
	color: #000;
	border: #848484;
	margin-left: 2px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	cursor: pointer;
}

.bt_form1:hover {
	background: #f3bf18;
	border: #f3bf18;
	color: #000;
	float: left;
	margin-left: 2px;
}

.form_categ2 {
	padding: 15px;
	overflow: hidden;
	width: 50%;
	margin-bottom: 5px;
	background: #181818;
	color: #fff;
	margin-left: 2px;
	border: #181818;
}

.bt_form2 {
	padding: 15px;
	overflow: hidden;
	width: 10%;
	text-align: center;
	margin-bottom: 5px;
	background: #848484;
	color: #000;
	border: #848484;
	margin-left: 2px;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	cursor: pointer;
	display: block;
}

.bt_form2:hover {
	background: #f3bf18;
	border: #f3bf18;
	color: #000;
	margin-left: 2px;
}

.sugestao {
	font-size: 12px;
	margin-bottom: 5px;
	color: #ccc;
}

.img_item {
	width: 250px;
	overflow: hidden;
	margin-bottom: 5px;
}

.bt_mob {
	display: none;
}

.copyright {
	color: #585858;
	font-size: 12px;
	overflow: hidden;
	margin-bottom: 20px;
	text-align: center;
}

@media only screen and (max-width: 800px) {

	body {
		background: url('../../img/bg.jpg') top right repeat-y;
		overflow: hidden;
	}

	.logo_tw {
		width: 150px;
		margin: 0 auto;
		margin-top: 30px;
	}

	.name_area {
		margin: auto;
		color: #9a9a9a;
		width: 250px;
		overflow: hidden;
		margin-bottom: 30px;
		text-align: center;
		font-size: 25px;
	}

	.logo {
		width: 60%;
		margin-bottom: 50px;
		margin-top: 50px;
	}

	.box_login {
		margin: auto;
		color: #9a9a9a;
		width: 60%;
		height: auto;
		overflow: hidden;
		text-align: center;
		background: #000;
		border-top: 5px solid #ff6600;
		border-bottom: 5px solid #ff6600;
		border-left: 2px solid #ff6600;
		border-right: 2px solid #ff6600;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		padding: 40px;
		box-shadow: 0 0 30px #000;
	}

	.area_form {
		width: 100%;
		margin: 0 auto;
		margin-top: 0;
	}

	.form_login {
		width: 100%;
		padding: 15px 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: solid 1px #f3bf18;
		background: #252525;
		margin-bottom: 15px;
		color: #adadad;
	}

	.bt_form {
		width: 100%;
		padding: 10px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: solid 1px #f3bf18;
		background: #f3bf18;
		color: #000;
		font-size: 22px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 auto;
		margin-bottom: 10px;
		display: block;
		cursor: pointer;
	}

	.obs {
		font-size: 12px;
		overflow: hidden;
	}

	.bt_mob {
		display: block;
		position: fixed;
		top: 25px;
		right: 20px;
		z-index: 99999;
		width: 30px;
		height: 30px;
	}

	.topo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		border-bottom: solid 1px #f3bf18;
		overflow: hidden;
		background: #000;
		padding: 0 10%;
	}

	.logo_topo {
		float: left;
		width: 200px;
	}

	.menu {
		width: 80%;;
		float: none;
		overflow: hidden;
		margin-top: 15px;
		margin-left: 0px;
		display: none;
		margin-bottom: 40px;
	}

	.lk {
		float: none;
		width: 100%;
		margin-bottom: 2px;
		background: #333333;
		padding: 15px 25px;
		color: #fff;
		font-size: 18px;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
	}

	.lk:active {
		background: #f3bf18;
		color: #000;
	}

	.title_pg {
		color: #fff;
		font-size: 32px;
		width: 80%;
		margin: 0 auto;
		border-bottom: solid 1px #f3bf18;
		padding-bottom: 10px;
		padding-top: 150px;
		text-align: center;
		margin-bottom: 40px;
	}

	.box_content {
		width: 80%;
		margin: 0 auto;
		overflow: hidden;
	}

	.text_boas_vindas {
		width: 80%;
		text-align: center;
		color: #fff;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.box_info {
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		background: #000;
		border: solid 2px #f3bf18;
		width: 250px;
		height: 250px;
		float: none;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 30px;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		color: #fff;
		cursor: pointer;
		text-align: center;
	}

	.box_info:active {
		background: #f3bf18;
		color: #000;
	}

	.info {
		width: 60%;
		margin: 0 auto;
		font-size: 24px;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.n_cadast {
		font-size: 74px;
	}

	.container2 {
		width: 80%;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 30px;
	}

	.box_container {
		overflow: hidden;
	}

	.bts {
		overflow: hidden;
		margin-bottom: 20px;
		border-bottom: solid 1px #f3bf18;
	}

	.bt {
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		background: #181818;
		margin-left: 2px;
		float: left;
		color: #fff;
		cursor: pointer;
		padding: 15px 25px;
		font-size: 18px;
	}

	.bt:hover {
		background: #f3bf18;
		color: #000;
	}

	.conj_list_categ {
		overflow: hidden;
	}

	.name_categ {
		padding: 15px;
		overflow: hidden;
		float: left;
		width: 49%;
		margin-bottom: 5px;
		background: #181818;
		color: #ccc;
	}

	.name_cardapio {
		padding: 15px;
		overflow: hidden;
		float: left;
		width: 34%;
		margin-bottom: 5px;
		background: #181818;
		color: #ccc;
	}

	.nitens {
		padding: 15px;
		overflow: hidden;
		float: left;
		width: 20%;
		text-align: center;
		margin-bottom: 5px;
		background: #181818;
		color: #ccc;
		margin-left: 2px;
		display: none;
	}

	.editar {
		width: 44px;
		height: 51px;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		background: url('../../img/bt_edit.png') no-repeat left center, #181818;
		margin-left: 2px;
		float: left;
		cursor: pointer;
	}

	.editar:hover {
		background: url('../../img/bt_edit.png') no-repeat right center, #f3bf18;
	}

	.excluir {
		width: 44px;
		height: 51px;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		background: url('../../img/bt_excluir.png') no-repeat left center, #181818;
		margin-left: 2px;
		float: left;
		cursor: pointer;
	}

	.excluir:hover {
		background: url('../../img/bt_excluir.png') no-repeat right center, #f3bf18;
	}

	.text_explicativo {
		color: #ccc;
		overflow: hidden;
		margin-bottom: 30px;
	}

	.form_categ {
		padding: 15px;
		overflow: hidden;
		float: left;
		width: 100%;
		margin-bottom: 5px;
		background: #181818;
		color: #fff;
		margin-left: 2px;
		border: #181818;
	}

	.bt_form1 {
		padding: 15px;
		overflow: hidden;
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
		background: #848484;
		color: #000;
		border: #848484;
		margin-left: 2px;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		cursor: pointer;
	}

	.bt_form1:hover {
		background: #f3bf18;
		border: #f3bf18;
		color: #000;
		float: left;
		margin-left: 2px;
	}

	.form_categ2 {
		padding: 15px;
		overflow: hidden;
		width: 100%;
		margin-bottom: 5px;
		background: #181818;
		color: #fff;
		margin-left: 2px;
		border: #181818;
	}

	.bt_form2 {
		padding: 15px;
		overflow: hidden;
		width: 100%;
		text-align: center;
		margin-bottom: 5px;
		background: #848484;
		color: #000;
		border: #848484;
		margin-left: 2px;
		transition: all .5s ease;
		-moz-transition: all .5s ease;
		-webkit-transition: all .5s ease;
		cursor: pointer;
		display: block;
	}

	.bt_form2:hover {
		background: #f3bf18;
		border: #f3bf18;
		color: #000;
		margin-left: 2px;
	}

	.sugestao {
		font-size: 12px;
		margin-bottom: 5px;
		color: #ccc;
		text-align: center;
	}

	.img_item {
		width: 250px;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 5px;
	}

	.copyright {
		color: #585858;
		font-size: 12px;
		overflow: hidden;
		margin-bottom: 20px;
		text-align: center;
	}

}
