
input {
	border: none;
}
.mdc-text-field:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mdc-text-field__input,
.mdc-text-field__input {
	padding: 0px;
	border-bottom: none;
}
.username, .password {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 0px;
  border: none;
}

.username * {
	border: none;
	padding: 0px;
	height: auto;
}