@font-face {
	font-family: "Roboto";
	src: local(Roboto Thin), url("../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin.woff") format("woff");
	font-weight: 100;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Light), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Medium), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Bold), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
	font-weight: 700;
}

body, html {
	font-family: "Roboto", sans-serif;
	color: rgba(0, 0, 0, 0.87);
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
}

body {
	overflow-x: hidden;
}

p {
	font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

button, html [type='button'], [type='reset'], [type='submit'] {
	font-family: 'Muli', sans-serif;
	text-transform: capitalize;
	font-weight: 600;
}

.btn-group {
	position: relative;
	overflow: hidden;
}

.fixed-action-btn {
	top: 120px;
	right: 20px;
	bottom: auto;
}

.fixed-action-btn.top {
	top: 120px;
	bottom: auto;
}

.fixed-action-btn.bottom {
	bottom: 20px;
	top: auto;
}

.fixed-action-btn.left {
	left: 20px;
	right: auto;
}

.fixed-action-btn.right {
	right: 20px;
	left: auto;
}

.btn-group button {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.animated {
	-webkit-transition: ease-in-out 1s;
	-moz-transition: ease-in-out 1s;
	-o-transition: ease-in-out 1s;
	transition: ease-in-out 1s;
}

.rotate {
	-webkit-transform: rotateY(-360deg);
	-moz-transform: rotateY(-360deg);
	-ms-transform: rotateY(-360deg);
	-o-transform: rotateY(-360deg);
	transform: rotateY(-360deg);
}

.divider {
	overflow: hidden;
	height: 1px;
	margin: 15px 0px;
	background-color: transparent !important;
	border-width: 1px !important;
	border-color: #e0e0e0 !important;
	border-style: solid;
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

.divider.dashed {
	border-style: dashed !important;
}

.divider.dotted {
	border-style: dotted !important;
}

.bold {
	font-weight: bold !important;
}

.bolder {
	font-weight: bolder !important;
}

.uppercase {
	text-transform: uppercase !important;
}

.lowercase {
	text-transform: lowercase !important;
}

.capitalize {
	text-transform: capitalize !important;
}

/*----------------------------------------
 * Header
 *----------------------------------------*/
#header {
	z-index: 1004;
	position: relative;
	height: 56px;
}

/*Search box*/
#header .header-search-wrapper {
	margin: 10px auto 0 282px;
	/*width: calc(100% - 600px);*/
	width: calc(100% - 1368px);
	height: 40px;
	display: inline-block;
	position: relative;
	-webkit-transition: .3s ease all;
	-o-transition: .3s ease all;
	-moz-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

#header .menu {
	margin: auto 80px;
	font-family: "Roboto", sans-serif;
}

#header .header-search-wrapper.sideNav-lock {
	margin: 10px auto 0 260px;
}

#header .header-search-wrapper i {
	position: absolute;
	font-size: 24px;
	top: 6px;
	left: 24px;
	line-height: 32px !important;
	-webkit-transition: color 200ms ease;
	transition: color 200ms ease;
}

#header input.header-search-input {
	display: block;
	padding: 8px 8px 8px 72px;
	width: 87%;
	background: rgba(255, 255, 255, 0.3);
	height: 24px;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border: none;
	font-size: 16px;
	appearance: textfield;
	font-weight: 400;
	outline: none;
	border-radius: 3px;
}

#header input.header-search-input:hover {
	background: rgba(255, 255, 255, 0.5);
}

#header input.header-search-input:focus {
	color: #333;
	background: #fff;
	border-bottom: none !important;
	box-shadow: none !important;
}

#header .header-search-wrapper-focus i {
	color: #444;
}

#header .header-search-input::-webkit-input-placeholder {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

#header .header-search-input::-moz-placeholder {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

#header .header-search-input:-ms-input-placeholder {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

#header .header-search-input:focus::-webkit-input-placeholder {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}

#header .header-search-input:focus::-moz-placeholder {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}

#header .header-search-input:focus::placeholder {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}

#header .header-search-input:focus:-ms-input-placeholder {
	color: #333;
	font-size: 16px;
	font-weight: 400;
}

#header .header-search-input::placeholder {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

/*----------------------------------------
 * Breadcrumb
 *----------------------------------------*/
#breadcrumbs-wrapper {
	background-color: transparent;
	border-bottom: 1px solid #9d9d9d;
}

#breadcrumbs-wrapper .breadcrumbs-btn {
	top: 30px;
}

#breadcrumbs-wrapper h5.breadcrumbs-header {
	font-size: 1.64rem;
	line-height: 1.804rem;
	margin: 1.5rem 0 0 0;
}

#breadcrumbs-wrapper .breadcrumbs {
	padding: 0;
	margin: 15px 0;
	list-style: none;
}

#breadcrumbs-wrapper .breadcrumbs > li {
	display: inline-block;
}

#breadcrumbs-wrapper .breadcrumbs > li + li:before {
	padding: 0 5px;
	color: #bdbdbd;
	content: "/\00a0";
	top: 0px;
}

#breadcrumbs-wrapper .breadcrumbs .active {
	font-weight: normal;
	color: #9e9e9e;
}

#breadcrumbs-wrapper .breadcrumbs-title {
	font-size: 1.5rem;
	line-height: 1.804rem;
	margin: 18px 0 0;
}

#breadcrumbs-wrapper .breadcrumbs-nav {
	margin: 8px 0 9px;
}

.breadcrumb {
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
}

.breadcrumb i, .breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"], .breadcrumb i.material-icons {
	float: left;
	font-size: 24px;
}

.breadcrumb:before {
	content: '\E5CC';
	color: rgba(255, 255, 255, 0.7);
	vertical-align: top;
	display: inline-block;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	margin: 0 10px 0 8px;
	-webkit-font-smoothing: antialiased;
}

.breadcrumb:first-child:before {
	display: none;
}

.breadcrumb:last-child {
	color: #fff;
}

.no-border {
	border: none !important;
}

.label {
	font-size: 1em;
	line-height: 2.5;
	padding: 0;
	display: block;
}

/* Logo */
nav .brand-logo {
	position: absolute;
	color: #fff;
	display: inline-block;
	font-size: 2.1rem;
	vertical-align: initial;
}

nav .brand-logo img {
	height: 56px;
}

nav .brand-logo.center {
	left: 50%;
	transform: translateX(-50%);
}

nav .brand-logo.right {
	right: 0.5rem;
	padding: 0;
}

nav .brand-logo i, nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"], nav .brand-logo i.material-icons {
	float: left;
	margin-right: 15px;
}

.logo-wrapper {
	line-height: normal !important;
	margin: 0px 0px !important;
	height: 56px !important;
}

/** .navbar-fixed **/

nav {
	line-height: 56px;
	width: 100%;
	height: 56px;
	color: #fff;
	background-color: #3f51b5;
}

nav .btn-modal-close {
	position: relative !important;
	z-index: 1 !important;
	float: left !important;
	height: 56px !important;
	line-height: 56px !important;
	display: block !important;
}

nav .btn-modal-close i {
	line-height: 56px !important;
	height: 56px !important;
}

nav .submit_form {
	position: fixed;
	top: 0;
	right: 0px;
	width: 120px;
	height: 56px;
}

nav .submit_form button[type="submit"] {
	padding: 0px 12px;
	width: inherit;
	height: 56px;
	line-height: 48px;
	margin: 0px;
	font-size: 1.25rem;
	text-transform: capitalize;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	position: absolute;
	top: 0;
	right: 0;
}

nav .submit_form span, nav .submit_form i {
	display: inline-block;
	line-height: 4rem;
}

nav .submit_form span {
	padding: 0px;
	top: -1px;
	position: relative;
	margin-left: 10px;
}

nav.nav-extended {
	height: auto;
}

nav.nav-extended .nav-wrapper {
	min-height: 56px;
	height: auto;
}

nav.nav-extended .nav-content {
	position: relative;
	line-height: normal;
}

nav a {
	color: #fff;
}
/* 
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
	display: block;
	 font-size: 24px;
	 height: 56px;
	 line-height: 56px;
} */

nav .nav-wrapper {
	position: relative;
	height: 100%;
}

nav .button-collapse {
	float: left;
	position: relative;
	z-index: 1;
	height: 56px;
	margin: 0 18px;
}

nav .button-collapse i {
	height: 56px;
	line-height: 56px;
}

nav .nav-title {
	display: inline-block;
	font-size: 32px;
	padding: 28px 0;
}

nav ul {
	margin: 0;
}

nav ul li {
	transition: background-color .3s;
	float: left;
	padding: 0;
}

nav ul li.active {
	background-color: rgba(0, 0, 0, 0.1);
}

nav ul a {
	transition: background-color .3s;
	font-size: 1rem;
	color: #fff;
	display: block;
	padding: 0 15px;
	cursor: pointer;
}

nav ul a:hover {
	background-color: inherit !important;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
	margin-top: 9px;
	margin-left: 0px;
	margin-right: 6px;
}

nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
	height: inherit;
	line-height: inherit;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

nav ul.left {
	float: left;
}

nav form {
	height: 100%;
}

nav .input-field {
	margin: 0;
	height: 100%;
}

nav .input-field input {
	height: 100%;
	font-size: 1.2rem;
	border: none;
	padding-left: 2rem;
}

nav .input-field input:focus, nav .input-field input[type=text]:valid, nav .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, nav .input-field input[type=url]:valid, nav .input-field input[type=date]:valid {
	border: none;
	box-shadow: none;
}

nav .input-field label {
	top: 0;
	left: 0;
}

nav .input-field label i {
	color: rgba(255, 255, 255, 0.7);
	transition: color .3s;
}

nav .input-field label.active i {
	color: #fff;
}

.navbar-fixed {
	position: relative;
	height: 56px;
	z-index: 997;
}

.navbar-fixed nav {
	position: fixed;
}

.border-1, .border-2, .border-3, .border-4, .border-5, .border-top, .border-left, .border-right, .border-bottom {
	border-style: solid;
	border-color: #ebebeb;
}

.border-top {
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
}

.border-left {
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
}

.border-right {
	border-top: none !important;
	border-left: none !important;
	border-bottom: none !important;
}

.border-bottom {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

.border-1 {
	border-width: 1px;
}

.border-2 {
	border-width: 2px;
}

.border-3 {
	border-width: 3px;
}

.border-4 {
	border-width: 4px;
}

.border-5 {
	border-width: 5px;
}

#main {
	min-height: calc(100% - 100px);
	padding-left: 260px;
	-webkit-transition: .3s ease all;
	-o-transition: .3s ease all;
	-moz-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.container {
	padding: 0 0.5rem;
	margin: 0 auto;
	max-width: 100% !important;
	width: 98%;
}

#left-sidebar-nav {
	position: fixed;
	width: 260px;
	left: 180px;
	z-index: 999;
	height: auto;
}

#left-sidebar-nav span.badge.new {
	line-height: 20px;
	margin-top: 11px;
}

.page-title {
	position: fixed;
	top: 0;
	left: 52px;
	width: inherit;
	height: 56px;
}

.page-title h2 {
	font-size: 1.25rem;
	font-weight: 600;
	display: inline-block;
	line-height: 0.22;
	color: #fff;
}

.brand-sidebar, .sidenav {
	background: inherit;
	width: inherit;
	box-shadow: 0 4px 7px 0 rgba(0,0,0,.2);
}

.brand-sidebar {
	width: inherit;
	height: 55px;
}

.brand-sidebar .brand-logo {
	font-size: 2.1rem;
	line-height: 0;
	position: absolute;
	display: inline-block;
	margin: 1px 0;
	padding: 2px 15px 0px 15px;
	color: #333;
	height: 56px;
}

.brand-sidebar .logo-wrapper a.brand-logo img {
	height: 48px;
}

/*----------------------------------------
 Main Menu - SideNav
 ------------------------------------------*/

ul.side-nav.leftside-navigation {
	top: 56px;
	overflow: hidden;
	height: 100%;
}

ul.side-nav.leftside-navigation li:not(.no-padding) a {
	font-weight: 400 !important;
}

ul.side-nav.leftside-navigation hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e0e0e0;
	margin: 1em 0;
	padding: 0;
}

ul.side-nav.leftside-navigation li:not(.no-padding) a {
	font-weight: 400 !important;
}

ul.side-nav.leftside-navigation li:not(.no-padding) {
	line-height: 44px;
}

ul.side-nav.leftside-navigation li:not(.no-padding):hover {
	background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li:not(.no-padding).active {
	background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li:not(.no-padding) a.active {
	cursor: default;
	box-shadow: none;
}

.sidenav li a.active {
	color: #000 !important;
	background: rgba(0, 0, 0, 0.045) !important;
}

ul.side-nav .collapsible-body ul li span, ul.side-nav.fixed .collapsible-body ul li span {
	padding-left: 0px;
}

ul.side-nav.leftside-navigation li:not(.no-padding) a {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 300;
	white-space: nowrap;
}

ul.side-nav.leftside-navigation li:not(.no-padding).user-details {
	padding: 18px 0 4px 15px;
}

ul.side-nav.leftside-navigation li:not(.no-padding).user-details #profile-dropdown a {
	padding: 8px 15px;
}

ul.side-nav.leftside-navigation .profile-btn {
	margin: 0;
	text-transform: capitalize;
	padding: 0;
	text-shadow: 1px 1px 1px #444;
	font-size: 15px;
	background-color: transparent !important;
}

ul.side-nav.leftside-navigation .profile-btn i {
	padding: 0px !important;
	margin: 1px 0px 0px !important;
	width: auto !important;
}

ul.side-nav.leftside-navigation .profile-btn span {
	overflow: hidden;
	max-width: 99px;
	text-overflow: ellipsis;
	display: block;
	float: left;
}

ul.side-nav.leftside-navigation ul.collapsible-accordion {
	background-color: #fff;
}

ul.side-nav li {
	padding: 0;
}

ul.side-nav .collapsible-header {
	margin: 0;
	font-weight: 500;
}

.collapsible-header i {
	font-size: 1.6rem;
}

ul.side-nav .collapsible-header:after {
	font-family: 'Material Icons';
	content: "keyboard_arrow_right";
	color: #9e9e9e;
	font-size: 18px;
	position: absolute;
	right: 16px;
}

ul.side-nav .collapsible-header.active:after {
	content: "keyboard_arrow_down";
}

#slide-out li a i {
	line-height: inherit;
	width: 2rem;
	font-size: 1.6rem;
	display: block;
	float: left;
	text-align: center;
	margin-right: 1rem;
}

#slide-out li .collapsible-body a i {
	font-size: 1.2rem;
}

#slide-out ul.side-nav li {
	padding: 0 !important;
}

.side-nav {
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	transform: translateX(-100%);
	height: 100%;
	height: calc(100% + 60px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
	background-color: #fff;
	z-index: 999;
	overflow-y: auto;
	will-change: transform;
	backface-visibility: hidden;
	transform: translateX(-105%);
	width: 260px;
	-webkit-transition: .3s ease all;
	-o-transition: .3s ease all;
	-moz-transition: .3s ease all;
	transition: .3s ease all;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.user-roal {
	color: #fff;
	margin-top: -16px;
	font-size: 13px;
	text-shadow: 1px 1px 1px #444;
}

.user-details .row {
	margin: 0;
}

.side-nav.right-aligned {
	right: 0;
	transform: translateX(105%);
	left: auto;
	transform: translateX(100%);
}

.side-nav .collapsible {
	margin: 0;
}

.side-nav li {
	float: none;
	line-height: 48px;
}

.side-nav li.active {
	background-color: rgba(0, 0, 0, 0.05);
}

.side-nav li > a {
	color: rgba(0, 0, 0, 0.87);
	display: block;
	font-size: 14px;
	font-weight: 500;
	height: 48px;
	line-height: 48px;
	padding: 0 32px;
}

.side-nav li > a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.side-nav li > a.btn, .side-nav li > a.btn-large, .side-nav li > a.btn-large, .side-nav li > a.btn-flat, .side-nav li > a.btn-floating {
	margin: 10px 15px;
}

.side-nav li > a.btn, .side-nav li > a.btn-large, .side-nav li > a.btn-large, .side-nav li > a.btn-floating {
	color: #fff;
}

.side-nav li > a.btn-flat {
	color: #343434;
}

.side-nav li > a.btn:hover, .side-nav li > a.btn-large:hover, .side-nav li > a.btn-large:hover {
	background-color: #ff5a92;
}

.side-nav li > a.btn-floating:hover {
	background-color: #ff4081;
}

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
	float: left;
	height: 48px;
	line-height: 48px;
	margin: 0 32px 0 0;
	width: 24px;
	color: rgba(0, 0, 0, 0.54);
}

.side-nav .divider {
	margin: 8px 0 0 0;
}

.side-nav .subheader {
	cursor: initial;
	pointer-events: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	font-weight: 500;
	line-height: 48px;
}

.side-nav .subheader:hover {
	background-color: transparent;
}

.side-nav .user-view, .side-nav .userView {
	position: relative;
	padding: 32px 32px 0;
	margin-bottom: 8px;
}

.side-nav .user-view > a, .side-nav .userView > a {
	height: auto;
	padding: 0;
}

.side-nav .user-view > a:hover, .side-nav .userView > a:hover {
	background-color: transparent;
}

.side-nav .user-view .background, .side-nav .userView .background {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.side-nav .user-view .circle, .side-nav .user-view .name, .side-nav .user-view .email, .side-nav .userView .circle, .side-nav .userView .name, .side-nav .userView .email {
	display: block;
}

.side-nav .user-view .circle, .side-nav .userView .circle {
	height: 64px;
	width: 64px;
}

.side-nav .user-view .name, .side-nav .user-view .email, .side-nav .userView .name, .side-nav .userView .email {
	font-size: 14px;
	line-height: 24px;
}

.side-nav .user-view .name, .side-nav .userView .name {
	margin-top: 16px;
	font-weight: 500;
}

.side-nav .user-view .email, .side-nav .userView .email {
	padding-bottom: 16px;
	font-weight: 400;
}

.side-nav.fixed {
	left: 0;
	transform: translateX(0);
	position: fixed;
}

.side-nav.fixed.right-aligned {
	right: 0;
	left: auto;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
	background-color: #00bcd4;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active a, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
	color: #fff;
}

.side-nav .collapsible-body {
	padding: 0;
}

#sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 120vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 997;
	will-change: opacity;
}

/** Switch **/

.switch {
	width: 100%;
	/*
	 position: relative;
	 cursor: pointer;
	 margin: 15px 0px;*/
	display: inline-block;
	position: relative;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.switch span {
	/*line-height: 3rem;*/
	font-size: 0.83 rem;
}

.switch label {
	font-size: 1rem;
	background: transparent !important;
	display: inline-block;
	align-items: center;
	justify-content: center;
	transform: translateX(0);
	transition: transform 90ms cubic-bezier(0.4, 0, 0.2, 1), background-color 90ms cubic-bezier(0.4, 0, 0.2, 1), border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch label .lever {
	box-sizing: border-box;
    width: 32px;
    height: 14px;
    border-radius: 7px;
    transition: opacity 90ms cubic-bezier(0.4, 0, 0.2, 1),background-color 90ms cubic-bezier(0.4, 0, 0.2, 1),border-color 90ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch label input[type=checkbox]:checked + .lever {
	background-color: rgba(26, 35, 126, 0.46);
}

input[type=checkbox]:focus:not(:disabled) + .lever::before,
input[type=checkbox]:focus:not(:disabled).tabbed:focus ~
.lever::before {
	-webkit-transform: scale(2.4);
	-moz-transform: scale(2.4);
	-ms-transform: scale(2.4);
	-o-transform: scale(2.4);
	transform: scale(2.4);
	background-color: rgba(255, 64, 129, .1);
}

.switch label .lever:before, .switch label .lever:after {
	-webkit-transition: left 75ms ease, background 75ms ease, -webkit-box-shadow 75ms ease, -webkit-transform 75ms ease;
	-moz-transition: left 75ms ease, background 75ms ease, box-shadow 75ms ease, transform 75ms ease, -moz-transform 75ms ease;
	-o-transition: left 75ms ease, background 75ms ease, box-shadow 75ms ease, -o-transform 75ms ease;
	transition: left 75ms ease, background 75ms ease, -webkit-box-shadow 75ms ease, -webkit-transform 75ms ease;
	transition: left 75ms ease, background 75ms ease, box-shadow 75ms ease, transform 75ms ease;
	transition: left 75ms ease, background 75ms ease, box-shadow 75ms ease, transform 75ms ease, -webkit-box-shadow 75ms ease, -webkit-transform 75ms ease, -moz-transform 75ms ease, -o-transform 75ms ease;
}

.switch label.red input[type=checkbox]:checked + .lever:after {
	background-color: #f44336 !important;
}

.switch label.pink input[type=checkbox]:checked + .lever:after {
	background-color: #e91e63 !important;
}

.switch label.purple input[type=checkbox]:checked + .lever:after {
	background-color: #9c27b0 !important;
}

.switch label.deep-purple input[type=checkbox]:checked + .lever:after {
	background-color: #673ab7 !important;
}

.switch label.indigo input[type=checkbox]:checked + .lever:after {
	background-color: #3f51b5 !important;
}

.switch label.blue input[type=checkbox]:checked + .lever:after {
	background-color: #2196f3 !important;
}

.switch label.light-blue input[type=checkbox]:checked + .lever:after {
	background-color: #03a9f4 !important;
}

.switch label.cyan input[type=checkbox]:checked + .lever:after {
	background-color: #00bcd4 !important;
}

.switch label.teal input[type=checkbox]:checked + .lever:after {
	background-color: #009688 !important;
}

.switch label.green input[type=checkbox]:checked + .lever:after {
	background-color: #4caf50 !important;
}

.switch label.light-green input[type=checkbox]:checked + .lever:after {
	background-color: #8bc34a !important;
}

.switch label.lime input[type=checkbox]:checked + .lever:after {
	background-color: #cddc39 !important;
}

.switch label.amber input[type=checkbox]:checked + .lever:after {
	background-color: #ffeb3b !important;
}

.switch label.yellow input[type=checkbox]:checked + .lever:after {
	background-color: #ffc107 !important;
}

.switch label.orange input[type=checkbox]:checked + .lever:after {
	background-color: #ff9800 !important;
}

.switch label.deep-orange input[type=checkbox]:checked + .lever:after {
	background-color: #ff5722 !important;
}

.switch label.brown input[type=checkbox]:checked + .lever:after {
	background-color: #795548 !important;
}

.switch label.blue-grey input[type=checkbox]:checked + .lever:after {
	background-color: #607d8b !important;
}

.switch label.grey input[type=checkbox]:checked + .lever:after {
	background-color: #9e9e9e !important;
}

.switch label.black input[type=checkbox]:checked + .lever:after {
	background-color: #000 !important;
}

.switch label.white input[type=checkbox]:checked + .lever:after {
	background-color: #fff !important;
}

.switch label.transparent input[type=checkbox]:checked + .lever:after {
	background-color: transparent !important;
}

/** Material Boxed **/
.materialboxed {
	display: block;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	position: relative;
	-webkit-transition: opacity .4s;
	transition: opacity .4s;
	--webkit-backface-visibility: hidden
}

.materialboxed:hover:not(.active){opacity:.8}
.materialboxed.active {
	cursor: -webkit-zoom-out;
	cursor: zoom-out
}

#materialbox-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #292929;
	z-index: 1000;
	will-change: opacity
}

.materialbox-caption {
	position: fixed;
	display: none;
	color: #fff;
	line-height: 50px;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0% 15%;
	height: 50px;
	z-index: 1000;
	-webkit-font-smoothing: antialiased
}

.carousel.scrolling .carousel-item .materialboxed,.carousel .carousel-item:not(.active)
.materialboxed {
	pointer-events: none
}

/** Chips **/
.chips .input {
	height: 2rem;
}

/** Select **/
.dropdown-content {
	background-color: #fff;
	margin: 0;
	display: none;
	min-width: 100px;
	max-height: 650px !important;
	overflow-y: auto;
	opacity: 0;
	position: absolute;
	/* z-index: 999; */
	will-change: width, height;
}

.dropdown-content li > a, .dropdown-content li > span {
	color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .caret {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	fill: rgba(0, 0, 0, .87);
}

.select-wrapper ~ label {
    transform: translateY(-125%) scale(0.75) !important;
}

.select-wrapper input.select-dropdown {
    font-size: 1rem;
     line-height: 56px; 
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 56px !important;
    margin: 0 0 8px 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    background-color: transparent;
}

.slider {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: 185px;
}

.slider .indicators {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	text-align: center;
	z-index: 2;
}

/* Notifications */

.notification-badge {
	font-family: "Roboto", sans-serif;
	position: relative;
	right: 5px;
	top: -20px;
	color: #ffffff;
	background-color: #00bcd4;
	margin: 0 -.8em;
	border-radius: 50%;
	padding: 2px 5px;
}

#notifications-dropdown h5 {
	font-size: 1rem;
	text-transform: capitalize;
	font-weight: 500;
}

#notifications-dropdown li {
	padding: 8px 16px;
	font-size: 1rem;
}

#notifications-dropdown li > a {
	padding: 0;
	font-size: 1.1rem;
	font-weight: 300;
}

#notifications-dropdown li > a > span {
	display: inline-block;
	font-size: 1.2rem;
	position: relative;
	top: 4px;
	margin-right: 5px;
}

#notifications-dropdown li > time {
	font-size: 0.8rem;
	font-weight: 400;
	margin-left: 38px;
}

#notifications-dropdown li.divider {
	padding: 0;
}

.page-footer {
	padding-top: 20px;
	color: #fff;
	background-color: #00bcd4;
}

.page-footer .footer-copyright {
	overflow: hidden;
	align-items: center;
	padding: 6px 0px;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(51, 51, 51, 0.08);
}

.container .row {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.bordered {
	/*border-top: none;*/
	border-bottom: 1px solid #ebebeb;
	/*border-left: 1px solid #ebebeb;*/
	/*border-right: 1px solid #ebebeb;*/
}

/* Modal & SweetAlert */
.modal.full-screen {
	width: 100%;
	max-height: 100%;
	height: 100% !important;
	top: 0% !important;
}

.material-placeholder {
    z-index: 1005;
}

.datepicker-modal {
	max-width: 325px;
	min-width: 300px;
	max-height: none !important;
	height: auto !important;
	z-index: 1020 !important;
	top: 10% !important;
}

.datepicker-modal .modal-overlay {
	z-index: 1020 !important;
}

/** Animações **/

.swal-modal {
	max-height: 360px;
	min-width: 240px;
	max-width: 340px;
}

.modal, .swal-modal {
	transform: scale(0.8);
}

.modal, .swal-modal, .swal-overlay, .modal-overlay {
	transition: opacity 75ms linear;
}

.modal.open .modal-overlay, .swal-overlay.swal-overlay--show-modal {
	transition: opacity 150ms linear;
	transform: scale(1);
}

.modal.open, .swal-overlay--show-modal .swal-modal {
	transition: opacity 75ms linear, transform 150ms 0ms cubic-bezier(0, 0, 0.2, 1);
	transform: scale(1);
	opacity: 1;
	animation: none;
}

.modal.modal-fixed-header {
	padding: 0;
}

.modal .modal-content {
	padding: 0px !important;
	overflow-x: hidden !important;
	height: 100% !important;
	max-height: 100% !important;
}

.modal.modal-fixed-header .modal-header {
	position: absolute;
	width: 100%;
	background: #fff;
	height: 43px;
	padding: 20px;
	z-index: 999;
}

.modal.modal-fixed-header.full-screen .modal-header {
	top: 60px;
}

.modal .modal-body {
	padding: 24px;
	overflow-x: hidden;
}

.modal.modal-fixed-header .modal-body {
	position: fixed;
	overflow-y: auto;
	width: 100%;
	height: -webkit-calc(100% - 104px);
	height: -moz-calc(100% - 104px);
	height: calc(100% - 104px);
	max-height: calc(100% - 104px);
	height: calc(100% - 104px);
	top: 104px;
}

.modal.modal-fixed-footer.modal-fixed-header .modal-footer ~
.modal-body {
	height: calc(100% - 160px);
}

.modal.modal-fixed-footer {
	height: 93%;
}

.modal-header .tabs {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.tabs .tab a.error.active {
	background-color: #f48fb1 !important;
}

.swal-title {
	display: block;
	margin-top: 0;
	line-height: normal;
	font-family: 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1.25rem;
	line-height: 2rem;
	font-weight: 500;
	letter-spacing: .0125em;
	text-decoration: inherit;
	text-transform: inherit;
	display: block;
	position: relative;
	flex-shrink: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0 24px 0px;
	border-bottom: 1px solid transparent;
	color: rgba(0,0,0,.87);
	text-align: left;
}

.swal-text {
	font-family: 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: .03125em;
	text-decoration: inherit;
	text-transform: inherit;
	flex-grow: 1;
	box-sizing: border-box;
	margin: 0;
	padding: 0px 24px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	text-align: left;
	display: block;
	color: rgba(0,0,0,.6);
}

.swal-button {
	font-family: 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: .975rem;
	line-height: 2.25rem;
	font-weight: 500;
	letter-spacing: .0892857143em;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	min-width: 64px;
	border: none;
	outline: none;
	line-height: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	overflow: visible;
	vertical-align: middle;
	border-radius: 4px;
	background: transparent !important;
	color: #6200ee;
}

.swal-button:active {
	background: none !important;
	border: none !important;
	outline: none !important;
	border-color: transparent !important;
}

/*------------------------------------------
 * Footer
 *------------------------------------------*/
footer {
	padding-left: 260px;
}

footer.page-footer {
	padding-top: 1px;
}

/*------------------------------------------
 * Toast
 *------------------------------------------*/

.toast {
	border-radius: 4px;
	top: 35px;
	width: auto;
	margin-top: 10px;
	position: relative;
	max-width: 100%;
	height: auto;
	min-height: 48px;
	line-height: 1.5em;
	word-break: break-all;
	background-color: #323232;
	padding: 10px 24px;
	padding-right: 52px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: default;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.toast .toast-action {
	color: #eeff41;
	font-weight: 500;
	margin-right: -25px;
	margin-left: 3rem;
}

#toast-container {
	display: block;
	position: fixed;
	z-index: 10000;
}

/*a[data-target="slide-out"][class^="sidebar-collapse"]:active {
 transform: rotate(180deg);
 transition: 200ms;
 }*/

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid; 
     -webkit-box-shadow: none; 
     box-shadow: none; 
}

/** Input-field **/
.input-field, .textarea-field {
	border-radius: 4px 4px 0 0;
	display: block;
	position: relative;
	box-sizing: border-box;
	overflow: visible;
	background: #f5f5f5;
	width: 100%;
	height: 56px;
	margin-top: 2rem;
	margin-bottom: 0;
}

.textarea-field {
	height: auto;
	min-height: 50px;
	display: inline-flex;
}

.input-field input:not([type]),
.input-field input[type=text]:not(.browser-default),
.input-field input[type=password]:not(.browser-default),
.input-field input[type=email]:not(.browser-default),
.input-field input[type=url]:not(.browser-default),
.input-field input[type=time]:not(.browser-default),
.input-field input[type=date]:not(.browser-default),
.input-field input[type=datetime]:not(.browser-default),
.input-field input[type=datetime-local]:not(.browser-default),
.input-field input[type=tel]:not(.browser-default),
.input-field input[type=number]:not(.browser-default),
.input-field input[type=search]:not(.browser-default),
textarea {
	border-bottom-color: rgba(0,0,0,.42);
	font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    border-color: #999;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -appearance: none;
    z-index: 1;
}

.input-field > label, .textarea-field > label {
	font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    position: absolute;
    transform-origin: left top;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.15rem;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
    will-change: transform;
    left: 16px;
    right: initial;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.textarea-field > label {
	top: 30px;
}

.textarea-field textarea {
	min-height: inherit !important;
}

.input-field > label:not(.label-icon).active,
.textarea-field > label:not(.label-icon).active {
    transform: translateY(-125%) scale(0.75);
}

.input-field:not(.error) > label:not(.label-icon).active,
.textarea-field > label:not(.label-icon).active {
    color: inherit;
}

input:not([type]):focus.valid ~ label,
input[type=text]:not(.browser-default):focus.valid ~ label,
input[type=password]:not(.browser-default):focus.valid ~ label,
input[type=email]:not(.browser-default):focus.valid ~ label,
input[type=url]:not(.browser-default):focus.valid ~ label,
input[type=time]:not(.browser-default):focus.valid ~ label,
input[type=date]:not(.browser-default):focus.valid ~ label,
input[type=datetime]:not(.browser-default):focus.valid ~ label,
input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
input[type=tel]:not(.browser-default):focus.valid ~ label,
input[type=number]:not(.browser-default):focus.valid ~ label,
input[type=search]:not(.browser-default):focus.valid ~ label,
textarea.materialize-textarea:focus.valid ~ label {
	color: inherit;
}

.input-field .prefix {
	position: absolute;
	left: 16px;
	right: initial;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.54) !important;
    cursor: pointer;
}

.input-field .sufix,
.textarea-field .sufix{
    position: absolute;
	right: 16px;
    left: initial;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

textarea, textarea.materialize-textarea {
	-ms-flex-item-align: auto;
	align-self: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* height: 56px; */
	min-height: 56px;
	margin: 8px 1px 1px 0;
	padding: 16px;
	border: none;
	line-height: 1.75rem;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0,0,0,.42);
	resize: vertical;
}

.input-field:not(.outline).transparent input,
.input-field:not(.outline).transparent label,
.textarea-field:not(.outline).transparent label,
.textarea-field:not(.outline).transparent textarea {
    padding: 10px 1px 1px;
    left: 0px;
}

.input-field .prefix ~ input,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .helper-text,
.input-field .prefix ~ .autocomplete-content,
.textarea-field .prefix ~ textarea {
	margin-left: 45px;
	left: 16px !important;
}

.input-field .prefix ~ input:not([type]),
.input-field .prefix ~ input[type=text]:not(.browser-default),
.input-field .prefix ~ input[type=password]:not(.browser-default),
.input-field .prefix ~ input[type=email]:not(.browser-default),
.input-field .prefix ~ input[type=url]:not(.browser-default),
.input-field .prefix ~ input[type=time]:not(.browser-default),
.input-field .prefix ~ input[type=date]:not(.browser-default),
.input-field .prefix ~ input[type=datetime]:not(.browser-default),
.input-field .prefix ~ input[type=datetime-local]:not(.browser-default),
.input-field .prefix ~ input[type=tel]:not(.browser-default),
.input-field .prefix ~ input[type=number]:not(.browser-default),
.input-field .prefix ~ input[type=search]:not(.browser-default),
.textarea-field .prefix ~ textarea {
	padding-left: 61px;
	padding-right: 16px;
	margin-left: 0px;
}

.input-field .sufix ~ input:not([type]),
.input-field .sufix ~ input[type=text]:not(.browser-default),
.input-field .sufix ~ input[type=password]:not(.browser-default),
.input-field .sufix ~ input[type=email]:not(.browser-default),
.input-field .sufix ~ input[type=url]:not(.browser-default),
.input-field .sufix ~ input[type=time]:not(.browser-default),
.input-field .sufix ~ input[type=date]:not(.browser-default),
.input-field .sufix ~ input[type=datetime]:not(.browser-default),
.input-field .sufix ~ input[type=datetime-local]:not(.browser-default),
.input-field .sufix ~ input[type=tel]:not(.browser-default),
.input-field .sufix ~ input[type=number]:not(.browser-default),
.input-field .sufix ~ input[type=search]:not(.browser-default),
.textarea-field .sufix ~ textarea {
    right: 12px;
    padding-right: 54px;
}

.input-field .select-wrapper .sufix ~ input.select-dropdown {
    right: initial;
}

.input-field input:focus ~ .line-ripple,
.textarea-field textarea:focus ~ .line-ripple {
    transform: scaleX(1);
    opacity: 1;
}

.file-field {
	display: flex;	
}

.file-field .btn, .file-field .btn-large, .file-field .btn-small {
    line-height: 56px;
    float: left;
    height: 56px;
}

.file-path-wrapper {
	width: 100%;
}

.file-path-wrapper input {
    padding: 0px !important;
}

.line-ripple {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: 2;
    background: #000;
}

.helper-line {
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	font-size: 0.75rem;
}

.helper-text::before, 
.helper-counter::before {
    display: inline-block;
    width: 0;
    height: 16px;
    content: "";
    vertical-align: 0;
}

.error {
	color: #b00020 !important;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}

.error i, .error label {
	color:  #b00020 !important;
}

.error .line-ripple {
	background: #b00020 !important;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
	margin-bottom: 0px;
}

.character-counter {
    font-size: 0.75rem;
    position: absolute;
    bottom: -22px;
    right: 16px;
    display: block;
    text-align: right;
}

/*------------------------------------------
 *  Media Queries
 *------------------------------------------*/

@media only screen and (max-width: 600px) {
	#toast-container {
		min-width: 100%;
		bottom: 0%;
	}

	nav .brand-logo {
		padding-top: 3px !important;
	}

	.brand-sidebar .logo-wrapper a.brand-logo img, nav .brand-log img {
		height: 45px;
		padding-left: 0px;
	}

	nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
		margin-top: 3px;
	}

	.navbar-main ul.right {
		padding: 4px;
	}
}

@media only screen and (min-width: 601px) {
	.container {
		width: 99%;
	}
	nav.nav-extended .nav-wrapper {
		min-height: 56px;
	}
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
		height: 56px;
		line-height: 56px;
	}
	.navbar-fixed, .navbar-main {
		height: 56px;
	}
	.datepicker-modal {
		max-width: 624px;
	}
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
	#toast-container {
		left: 1.3%;
		bottom: 2.5%;
		max-width: 90%;
	}
}

@media only screen and (max-width: 768px){
	.brand-sidebar .logo-wrapper {
		padding: 0 !important;
		text-align: center;
		background: transparent;
		margin: 0px 87px !important;
	}
}

@media only screen and (max-width: 992px) {
	.side-nav.fixed {
		transform: translateX(-105%);
	}
	.side-nav.fixed.right-aligned {
		transform: translateX(105%);
	}
	.side-nav a {
		padding: 0 16px;
	}
	.side-nav .user-view, .side-nav .userView {
		padding: 16px 16px 0;
	}

	nav .brand-logo {
		left: 50%;
		transform: translateX(-50%);
	}
	nav .brand-logo.left, nav .brand-logo.right {
		padding: 0;
		transform: none;
	}
	nav .brand-logo.left {
		left: 0.5rem;
	}
	nav .brand-logo.right {
		right: 0.5rem;
		left: auto;
	}
	/*.table.responsive-table .mini-cell,*/
	/*.table.responsive-table .small-cell,*/
	/*.table.responsive-table .medium-cell,*/
	/*.table.responsive-table .large-cell,*/
	/*.table.responsive-table .big-cell {*/
	/*    min-width: auto !important;*/
	/*    max-width: auto !important;*/
	/*    width: auto !important;*/
	/*}*/
}

@media only screen and (min-width: 993px) {
	.container {
		width: 99%;
	}

	nav a.button-collapse {
		display: none;
	}

	#toast-container {
		bottom: 2.5%;
		left: 1.3%;
		top: auto;
		right: auto;
		max-width: 86%;
	}
}

@media only screen and (max-width: 993px) {
	#main {
		padding-left: 0;
	}
	footer {
		padding-left: 0;
	}
}

/** Tabelas Cidades - Adicionar e vincular usuário a uma cidade **/
.window {
	position: relative !important;
	overflow: hidden !important;
	height: 350px !important;
	border: 1px solid #cfd8dc !important;
}

.window--child {
	position: absolute !important;
	overflow-x: auto !important;
	overflow-y: scroll !important;
	height: 100% !important;
	width: 100% !important;
}

.window--table {
	border-left: none !important;
	border-right: none !important;
	margin-top: 0px !important;
	margin-bottom: 30px !important;
}

.window--table thead th {
	border-bottom: 1px solid #cfd8dc !important;
	border-right: none !important;
	border-left: none !important;
}

.window--table tbody td:first-child {
	border-left: none !important;
}

.window--table tbody td:last-child {
	border-right: none !important;
}

